* {
  --btnColor: #caf0f8;
  --calcColor: #0077b6;
  box-sizing: border-box;
}

body {
  font-size: 30px;
  margin: 0;
  padding: 0;
  background-color: #03045e;
}
h1 {
  text-align: center;
  color: white;
}

.calc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.calculator {
  max-width: 550px;
  background-color: var(--calcColor);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  min-height: 100px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 40px 15px 15px 15px;
  border-radius: 10px;
  font-size: 4rem;
  word-wrap: break-word;
  text-align: right;
}

.button-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btnColor);
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 40px;
  box-shadow: 3px 4px 2px 3px rgba(0, 0, 0, 0.7);
}

.btn:hover {
  background-color: rgb(218, 218, 218);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 3px 1px 4px rgba(0, 0, 0, 0.7);
}
.btn-equal {
  width: 200px;
}
